// bower:scss
// endbower

@font-face {
  font-family: 'latolight';
  src: url('/fonts/lato-light-webfont.eot');
  src: url('/fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/lato-light-webfont.woff2') format('woff2'),
       url('/fonts/lato-light-webfont.woff') format('woff'),
       url('/fonts/lato-light-webfont.ttf') format('truetype'),
       url('/fonts/lato-light-webfont.svg#latolight') format('svg');
  font-weight: normal;
  font-style: normal;

}

html, body {
  min-height: 100%;
}

body {
  font-family: 'latolight';
  color: #ffffff;
  padding: 50px 0 0 0;
  overflow: scroll;
   
}

/******* body background styles *******/

.home {
  background: url(/images/backgrounds/home_background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.agenda {
  background: url(/images/backgrounds/agenda_background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}

.speakers {
  background: url(/images/backgrounds/speakers_background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}

.attendees {
  background: url(/images/backgrounds/speakers_background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}

.resort {

  background: url(/images/backgrounds/resort_background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
  
}

.welcome {

  background: url(/images/backgrounds/welcome_background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
  
}


/******* Circular images ********/

.circular-img {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.circular-img img {
     
  width: 100px;
  height: 100px; 
  display: block;
  border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}


.welcome-img {
   
  display: block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  width: 100px;
  height: 100px;
  
}

.bio-img {
  
}

/******* centered columns styles *******/

.row-centered {
  text-align:center;
}

.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}

.home-container {
  margin-top: 40px;
  padding-left: 45px;
}

.home-container h1 {
  padding-top: none;
  margin-top: 60px;
  font-size: 38px;
  line-height: 48px;
  text-transform: uppercase;
}

li a.slide-icon-link:hover {
  background: none;
}

.panel {
  margin-bottom: 20px;
  background: none;
  border: none !important;
  border-radius: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-right: 15px;
  padding-left: 15px;
  padding: none;
}

.panel a:link, .panel a:visited {
  color: #ffffff;
}

.panel:nth-of-type(even) {

   background-color:rgba(0,0,0,0.2);  
}

.panel-heading {
    padding: 20px 15px 20px 15px;
    border-bottom: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-transform: uppercase;
}

.panel-title { text-transform: uppercase; }

.panel-default>.panel-heading {
    color: #ffffff;
    background: none;
    background-color: none !important;
    border-color: none !important;
}

.speaker-navis {
  background: #EF4745;
  border-radius: 50px; 
  -moz-border-radius: 50px; 
  -webkit-border-radius: 50px; 
  border: 3px solid #EF4745;
  color: #ffffff;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  padding: 0 5px;
}

.speaker-guest {
  background: #51AA4D;
  border-radius: 50px; 
  -moz-border-radius: 50px; 
  -webkit-border-radius: 50px; 
  border: 3px solid #51AA4D;
  color: #ffffff;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  padding: 0 5px;
}

.bioImg {
  text-align:center;
}

/******* survey *******/

.survey {
  padding: 0 20px 0 20px;
}

legend {
  color: #ffffff;
}

.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
  margin-left: 0;
}

.green {
  background: #CBE085;
}

.green-text {
  color: #CBE085;
}

/****** CSS Menu Code ******/

.nav-logo img {
  width: 90px;
  height:auto;
  padding-top:5px;
}

.navbar-default {
  border: none;
  border-color: none;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:focus {
  border-color: none;
  background-color: none;
  background: none;
}

.navbar-toggle, .navbar-toggle:hover, .navbar-toggle:visited, .navbar-toggle:focus {
  float: left;
  margin-left: 10px;
  margin-top: 14px;
  border: none;
  border-color: none;
  background: none;
  background-color: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: none;
  border-color:none;
}

.navbar-default .navbar-toggle {
  border-color: none;
  padding-left: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

@media (min-width: 0) {
  .navbar-toggle, .bottom-toggle {
    display: block; /* force showing the toggle */
  }

  .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
   /* .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    } */
    .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }

    .navbar-collapse {
      border-top: none;
    }
    .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
      display:block !important;
  }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form, .collapse {
      border-color: none;
      border:0;
  }
}

.navbar-collapse {
  border-top: 1px solid transparent;
  box-shadow: none;
}

.navbar-agenda-bottom label {
   line-height: 16px;
   vertical-align: middle;
}

.nav, .navbar-nav {
  border: none;
}

.category-circle {
  float: left;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 8px;   
}


.label {
  display: inline-block;
  font-size: 12px;
  text-align: left;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .navbar {
    /*right: auto;
    background: none;*/
    border: none;
  }
}

.navmenu {
  margin-top: 60px;
}
.navbar {
  min-height: 60px;
}

.navmenu-default {
  background-color: #304A56;
  border-right: none;  
}

.slide-nav-icon {
  width: 22px; 
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 5px;
}

.resort-nav-icon {
  width: 30px; 
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 5px;
}

.slide-icon-link {
  height: 48px;
  display:block;
  text-align: left;
  color: #fff;
  margin-top: 10px;
  line-height: 24px;
}

.slide-icon-link span {
  text-align:left;
  color: #ffffff;    
  padding-left: 10px;
  font-size: 12px;
}

.container  {
  margin-top: 80px;
}

/****** navbar colors ******/

.navbar-home {
  background: #CBE085; /* light green */
}

.navbar-agenda {
  background: #51AA4D; /* dark green */
}

.navbar-agenda-bottom {
  background: #2F4957; /* teal */
}

.navbar-speakers {
  background: #F7931E; /* orange */
}

.agenda-hilite {
   background: #74BB71;
}

.navbar-resort {
  background: #5C8DAA; /* purplish */
}

/******* right navbar items ******/

.agenda-buttons {
  margin-right: none;
  padding-right: none;  
}

.nav-logo {
  padding-top: 5px;
  padding-right: 15px;
  float:right;
}

.agenda-details-btn {
  width: 125px;
  height: auto;
}

.agenda-day-button {
  float: left;
  display: block;
  padding: 8px;
  min-height: 60px;
}

.agenda-day-button div {
  padding-top: 5px;
}


/******* Attendees ******/

.search {
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

.search input {
  color: #000000;
}

/****** Filter Menu ******/

.navbar-filter {
  text-align:center;
  padding-left:10%;
  padding-right:10%;
}

.filter-button, .filter-button:visited, .filter-button:hover {
  display:block;
  background:none;
  border:none;
  margin-top:5px;
  width:75px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  color:#ffffff;
  cursor:pointer;
}

.filter-arrow {
  width: 50px;
  height: auto;
}

.filter-row {
  line-height: 14px;
  margin-top: 10px;
  margin-bottom:5px;
  margin-left:auto;
  margin-right:auto;
  border-top:1px solid #ffffff;
  text-align:left;
  padding: 20px 0 10px 0;
}

.filter-row-top {
  border: none;
}

.radio-button {    
  display: inline-block;
  border-radius: 50%;
  width:20px;
  height:20px;
  background: #ffffff;
  cursor:pointer;  
  vertical-align: top;
  line-height: 20px;
}

.label {
  line-height: 20px;
  display: inline-block;
}

.checked {  
  border: 3px solid #000;  
}


/****** Category Colors ******/

.all-cat {
  background: #ffffff;
}

.general-cat {
  background: #F7921E;
}

.res-rev-cat, .ir-cat {
  background: #51AA4E;
}

.owners-gms-cat {
  background: #ED4645;
}

.marketing-cat, .vr-cat {
  background: #ED4645;
}

.hr-cat, .vendor-cat {
  background: #5C8DAB;
}

