<div ng-controller="AgendaCtrl">
<div ng-include="navUrl"></div>

    <div class="content cf">        
    
        <h2>Agenda</h2>        

            <div class="error">{{errorMsg}}</div>
           
            <div class="agenda-day1 icon cf">
                <a href="#/agenda/day1"><img src="http://lcapp.meetnavis.com/assets/images/icons/agenda-icon.png" alt="Agenda Icon" />
                <p>Day 1 - Agenda</p></a><br>
            </div>
            <div class="agenda-day2 icon cf">
                <a href="#/agenda/day2"><img src="http://lcapp.meetnavis.com/assets/images/icons/agenda-icon.png" alt="Agenda Icon" />
                <p>Day 2 - Agenda</p></a><br>
            </div>    
       
         
    </div>  

