<div ng-controller="HomeCtrl">
<div ng-include="navUrl"></div>  

<div class="container" style="margin-top:80px;">
<div style="margin-left:auto;margin-right:auto;width:240px;">
 <h1 style="font-size: 36px;line-height:42px;margin-top: 0;">2015<br>
 	NAVIS<br>
 	LEADERS<br>
 	CONFERENCE
 </h1>
<div>
 <ul class="nav" style="position:relative;margin-left: -10px;">
        <li><a href="#/" class="slide-icon-link"><img src="images/icons/home-icon1.svg" class="slide-nav-icon"><span>HOME</span></a></li>
        <li><a href="#/welcome" class="slide-icon-link"><img src="images/icons/welcome-icon.svg" class="slide-nav-icon"><span>WELCOME</span></a></li>
        <li><a href="#/speakers" class="slide-icon-link"><img src="images/icons/speaker-icon.svg" class="slide-nav-icon"><span>SPEAKERS</span></a></li>
        <li><a href="#/attendees" class="slide-icon-link"><img src="images/icons/attendees-icon.svg" class="slide-nav-icon"><span>ATTENDEES</span></a></li>
        <li><a href="#/agenda/day1" class="slide-icon-link"><img src="images/icons/agenda1-icon.svg" class="slide-nav-icon"><span>AGENDA D1</span></a></li>
        <li><a href="#/agenda/day2" class="slide-icon-link"><img src="images/icons/agenda2-icon.svg" class="slide-nav-icon"><span>AGENDA D2</span></a></li>        
        <li><a href="#/survey" class="slide-icon-link"><img src="images/icons/survey-icon.svg" class="slide-nav-icon"><span>SURVEY</span></a></li>
        <li><a href="#/location" class="slide-icon-link"><img src="images/icons/resort-icon.svg" class="slide-nav-icon"><span>RESORT</span></a></li>
      </ul>
  </div> 
</div>


</div>


</div>
