<div ng-controller="AgendaDetailCtrl">
<div ng-include="navUrl"></div>  


    <div class="content cf">
       
        <div class="error">{{errorMsg}}</div>
         <div class="loading" ng-show="!sessiondetail">
              Loading ...
         </div>
        <h2>{{sessiondetail.SessionTitle}}</h2>
        <p style="text-align:left;color:#FFFFFF;" ng-bind-html="trustHTML(sessiondetail.SessionDescription)"></p>
        <p style="text-align:left;color:#FFFFFF;">Speaker Info:</p>
        <div class="session-speaker" ng-bind-html="trustHTML(sessiondetail.SessionSpeaker)"></div>
        <div class="session-speaker" ng-bind-html="trustHTML(sessiondetail.SessionSpeaker2)"></div>
        <div class="session-speaker" ng-bind-html="trustHTML(sessiondetail.SessionSpeaker3)"></div>
        <p></p>
        <p><a class="session-detail" href="#/session-survey/{{sessiondetail.Day}}/{{sessiondetail.ID}}">Give us Feedback on this Session</a></p>

     </div>
</div>