<div ng-controller="SessionSurveyCtrl">
<div ng-include="navUrl"></div>  

    <div class="content survey cf">       
        <div class="error">{{errorMsg}}</div>

        <h2>Survey:<br>{{surveydetail.SessionTitle}}</h2>
        <p>This anonymous survey will help us to improve.</p>
        <p>Each answer is required for submission.</p>

          <form name="surveyform" id="surveyform" class="form" method="post" role="form">

          <input id="session" type="hidden" name="session" value="{{surveydetail.ID}}">

          <div class="form-group">
               <legend>1. The content of this session was informative:</legend>
                    <div class="radio">
                         <input type="radio" name="informative" id="informative-strongly-agree" value="strongly agree" class="informative">
                         <label for="informative-strongly-agree">Strongly Agree</label>
                    </div>
                    <div class="radio">                   
                         <input type="radio" name="informative" id="informative-agree" value="agree"  class="informative">
                         <label for="informative-agree">Agree</label>
                    </div>
                    <div class="radio">                    
                         <input type="radio" name="informative" id="informative-neutral" value="neutral" class="informative">
                         <label for="informative-neutral">Neutral</label>
                    </div>
                    <div class="radio">                    
                         <input type="radio" name="informative" id="informative-disagree" value="disagree"  class="informative">
                         <label for="informative-disagree">Disagree</label>
                    </div>
                     <div class="radio">                         
                         <input type="radio" name="informative" id="informative-strongly-disagree" value="strongly disagree" class="informative">
                         <label for="informative-strongly-disagree">Strongly Disagree</label>
                    </div>
          </div>

           <div class="form-group">
               <legend>2. The speaker clearly demonstrated knowledge of the topic.</legend>
                    <div class="radio">
                         <input type="radio" name="knowledge" id="knowledge-strongly-agree" value="strongly agree" class="knowledge" />
                         <label for="knowledge-strongly-agree">Strongly Agree</label>
                    </div>
                    <div class="radio">
                         <input type="radio" name="knowledge" id="knowledge-agree" value="agree" class="knowledge" />
                         <label for="knowledge-agree">Agree</label>
                    </div>
                    <div class="radio">
                         <input type="radio" name="knowledge" id="knowledge-neutral" value="neutral" class="knowledge" />
                         <label for="knowledge-neutral">Neutral</label>
                    </div>
                    <div class="radio">
                         <input type="radio" name="knowledge" id="knowledge-disagree" value="disagree" class="knowledge" />
                         <label for="knowledge-disagree">Disagree</label>
                    </div>
                    <div class="radio">
                         <input type="radio" name="knowledge" id="knowledge-strongly-disagree" value="strongly disagree" class="knowledge" />
                         <label for="knowledge-strongly-disagree">Strongly Disagree</label>
                    </div>
          </div>

          <div class="form-group">
               <legend>3. The speaker was engaging.</legend>
                    <div class="radio">
                         <input type="radio" name="engaging" id="engaging-strongly-agree" value="strongly agree" class="engaging" />
                         <label for="engaging-strongly-agree">Strongly Agree</label>
                    </div>
                    <div class="radio">
                         <input type="radio" name="engaging" id="engaging-agree" value="agree" class="engaging" />
                         <label for="engaging-agree">Agree</label>
                    </div>
                    <div class="radio">     
                         <input type="radio" name="engaging" id="engaging-neutral" value="neutral" class="engaging" />
                         <label for="engaging-neutral">Neutral</label>
                    </div>
                    <div class="radio">
                         <input type="radio" name="engaging" id="engaging-disagree" value="disagree" class="engaging" />
                         <label for="engaging-disagree">Disagree</label>
                    </div>
                    <div class="radio">
                         <input type="radio" name="engaging" id="engaging-strongly-disagree" value="strongly disagree" class="engaging" />
                         <label for="engaging-strongly-disagree">Strongly Disagree</label>
                    </div>
          </div>

         <div class="form-group">
               <legend>4. The length of the session was:</legend>
                    <div class="radio">
                         <input type="radio" name="length" id="length-too-long" value="too long" class="length" />
                         <label for="length-too-long">Too Long</label>
                    </div>
                    <div class="radio">
                         <input type="radio" name="length" id="length-too-short" value="too short" class="length" />
                         <label for="length-too-short">Too Short</label>
                    </div>
                    <div class="radio">
                         <input type="radio" name="length" id="length-just-right" value="just right" class="length" />
                         <label for="length-just-right">Just Right</label>
                    </div>
          </div>

         <div class="form-group">
               <legend>5. Overall, how would you rate this session from 1 (low) to 5 (high)?</legend>
                    <div class="radio">
                         <input type="radio" name="rate" id="rate-1" value="1" class="rate" />
                         <label for="rate-1">1</label>
                    </div>
                    <div class="radio">
                         <input type="radio" name="rate" id="rate-2" value="2" class="rate" />
                         <label for="rate-2">2</label>
                    </div>
                    <div class="radio">
                         <input type="radio" name="rate" id="rate-3" value="3" class="rate" />
                         <label for="rate-3">3</label>
                    </div>
                    <div class="radio">
                         <input type="radio" name="rate" id="rate-4" value="4" class="rate" />
                         <label for="rate-4">4</label> 
                    </div>
                    <div class="radio">
                         <input type="radio" name="rate" id="rate-5" value="5" class="rate" />
                         <label for="rate-5">5</label> 
                    </div>        
          </div>
           <div class="row">
               <div class="form-submit col-xs-12 ">
               <button type="submit" name="submit" class="btn btn-default btn-lg active" type="submit" id="submit" value="Submit">Submit</button>
              </div>
              </div>

          </form>
     
     </div>

</div>
<script>
   $('form').submit(function() {

          var errs = 0; 
          if(!$("input.informative:checked").val()) { errs++; }
          if(!$("input.knowledge:checked").val()) { errs++; }
          if(!$("input.engaging:checked").val()) { errs++; }
          if(!$("input.length:checked").val()) { errs++; }
          if(!$("input.rate:checked").val()) { errs++; }
          if(errs > 0) {
            alert("Please answer each question!");           
           
            
          } else {
           
            var postData = $(this).serialize();            
  
            $.ajax({
              type: 'POST',
              data: postData,
              url: 'http://lcapp.meetnavis.com/send_session_survey.php',
              success: function(data){
                //console.log(data);
                alert('Thanks for your survey response!');
                window.location.href = "index.html";
              },
              error: function(){
                //console.log(data);
                alert('There was an error submitting the survey. Please check your Internet connection!');
                history.back();
              }
            });
            
          }

          localStorage.clear();
          return false;
});

</script>