<!-- script type="text/javascript" src="http://h2v.1daylater.com/h2v.js"></script -->
<div ng-controller="SpeakerCtrl">
<div ng-include="navUrl"></div>  


    <div class="container content speakerlist cf">    
      <!-- div class="error">{{errorMsg}}</div -->
        <!-- get loading class referenced below -->
         <div class="loading" ng-show="!speakers">
              Loading ...
         </div>
    
      <h2 style="text-align:center;margin-top:0;padding-top: 0;">SPEAKERS</h2>
        
       
        <div class="panel-group" id="accordion" aria-multiselectable="true" role="tablist">
          <div class="panel panel-default" ng-repeat="speaker in speakers">
            <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href=".collapse{{speaker.ListOrder}}" aria-controls="collapse{{speaker.ListOrder}}">
             <div class="panel-heading cf" ng-cloak>
              
              <div class="panel-title row">        
                 <div class="col-xs-10 speaker-name">{{speaker.FirstName}} {{speaker.LastName}}</div>
                 <!-- div class="col-xs-2" -->
                    <div ng-if="speaker.SpeakerCategory == 'NAVIS'">
                        <div class="speaker-navis col-xs-2">{{speaker.SpeakerCategory}}</div>
                    </div>
                    <div ng-if="speaker.SpeakerCategory == 'Guest'">
                        <div class="speaker-guest col-xs-2">{{speaker.SpeakerCategory}}</div>
                    </div> 
                 <!-- /div -->            
              
            </div>
             </a>
            <div id="collapse{{speaker.ListOrder}}" class="collapse{{speaker.ListOrder}} panel-collapse collapse" role="tabpanel">
              <div class="panel-body">
                <div class="bioImg" ng-bind-html="trustHTML(speaker.BioImg)"></div>
                <p class="speaker-title">{{speaker.Title}}, {{speaker.Organization}}</p>
                <p class="speaker-bio" ng-bind-html="trustHTML(speaker.Bio)"></p>
               
              </div>
            </div> <!-- end collapsible panel -->
          </div> <!-- end panel -->

        </div> <!-- end panel-group -->
    </div> <!-- end container -->
</div> <!-- end controller -->
<script type="text/javascript">
//$('.panel-collapse').collapse();   

/*$('.panel-heading a').on('click',function(e){
    if($(this).parents('.panel').children('.panel-collapse').hasClass('in')){
        e.stopPropagation();
    }
});*/
    //$('.panel-collapse').collapse();
</script>
